body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #181818;
}

h1 {
    color: #333;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_logo {
    width: 25%;
    border-radius: 50%;
    background: #f2f0f0;
}

.links {
    display: flex;
}
