@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    
}

body {
    z-index: 0;
    background-color: black;
}

.container {
    min-height: 100vh;
}

.background_container {
    min-height: 100vh;
}

.row {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 18px;
}

form {
        min-width: 400px;
}

button {
    padding: 0px 8px 0px 8px;
}

.avatar {
    cursor: pointer;
    margin: 12px;
    transition: all .3s ease;
}

.avatar:hover {
    scale: 1.1;
    filter: brightness(.9);
}

.profile {
    display: flex;
    align-items: center;
}


h1 {
    display: flex;
    justify-content: center;
    color: white;
}

h2 {
    color: white;
}



/* NAVIGATION */

nav {
    background-color: transparent;
}

.sign__buttons--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin__button, .signup__button {
    color: white;
    margin-right: 16px;
}

.signup__button {
    background-color: rgb(255, 1, 1);

    border-radius: 50px;
    text-align: center;
    width: 80px;
    padding: 4px;
}

.search__header--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 44px 0 44px 0;
}

.search__header--title {
  color: white;
    text-align: center;
    font-size: 52px;
    font-weight: 700;
    text-overflow: wrap;
    margin-bottom: 64px;
    width: 95%;
}

.searchbar__wrapper {
   width: 80%;
}

.search {
    width: 100%;
    position: relative;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    padding: .6rem 1.75rem;
    border-radius: 1.75rem;
    border:1.5px black solid;
    background: white;
  }

  .search_input {
    flex: 1;
    border: none;
    width: 100%;
    font-size: 1.5rem;
    font-family: var(--font-raleway);
    font-weight: 500;
    padding-right: 1rem;
    outline: black;
    color: black;
    background: none;
  }



.nav_wrapper {
     display: flex;
     align-items: center;
     justify-content: space-between;
     
}

.nav__logo--wrapper {
    display: flex;
    align-items: center;
}

.logo_svg {
    width: 125px;
    background-color: white;
    border-radius: 100px;

    transition: scale .3s ease;
}

.logo_svg:hover {
    scale: 1.1;
}

.logo__link {
    display:contents;
    width: 100%;
}

.fa-cart-shopping {
    color: white;
    scale: 1.5;
    margin-right: 12px; 
    cursor: pointer;
    
}


.shopping__cart--wrapper {
    position: relative;
    margin-top: 4px;
    transition: all ease .4s
}

.shopping__cart--wrapper:hover {
    scale: 1.1;
}

.shopping__cart--wrapper:active {
    scale: .9;
}
.cart__value--popup {
    background-color: red;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    position: absolute;
    top: -13px;
    right: -3px;
}

/* FOOTER */

footer{
    background-color: rgb(0, 0, 0);
}

.footer__wrapper {
    display: flex;
    align-items: center;
    padding: 20px;
}

.footer_socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
}

.footer__socials-title {
    font-size: large;
}

.social-icons_wrapper {
    color: red;
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.footer_logo {
    width: 150px;
    background-color: white;
    border-radius: 100px;
}

.footer__direct-links {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__links-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__links-title {
    font-size: large;
}

.footer__links {
    display: flex;
   justify-content: center;
   align-items: center;
    text-align: center;
    font-size: 12px;
    display: flex;
    color: red;
    margin-top: 12px;
}

.footer__link {
    margin-left: 12px;
    text-decoration: underline;
}

.fa-brands {
    font-size: larger;
    transition: scale .3s ease;
    cursor: pointer;
}

.fa-brands:hover {
    scale: 1.3;
}

/* HOME */

.homeSpot {
    position: absolute;
    z-index: -1;
    left: -100px;
    top: -50px;
}

.spotlight1 {
  
}

.form {
    margin-bottom: 20px;
}

.home_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin-bottom: 48px;
}

.home__header--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home_title {
    font-size: 56px;
    font-weight: 900;
    text-align: center;
    max-width: 55%;
    letter-spacing: -3.5px;
    margin: 0 auto;
}

.home_subtitle {
    text-align: center;
    max-width: 40%;
    font-weight: 300;
    font-size: 18px;
}

.home__explore--button {
    color: white;
    background-color: red;
    font-size: 18px;


    width: 125px;
    height: 50px;
    border-radius: 50px;
    padding: 4px 10px 4px 10px;
    cursor: pointer;
    margin-top: 28px;

}

.home__movies--container {
    display: flex;
    justify-content: center;

    margin-top: 64px;
   
}

.home__movies--wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;


    background-color: rgb(32, 31, 31);
    border-radius: 15px;

    width: 80%;
    max-width: 1000px; 
    height: auto;
    padding: 10px;
}

.home__movie--card {
    overflow: hidden;
    margin: 12px;
    border-radius: 5px;
    flex: 1 1 calc(20% - 24px); 
    max-width: 125px;
    max-height: 174px; 
    box-sizing: border-box; 
}

.home__movie--poster {
    width: 100%; 
    height: auto; 
}


.signup_form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    min-width: 500px;
}


.form_button {
    margin: 0 auto;
    background-color: red;
}

.explore_button {
   margin-top: 150%;
}


/* sign in */
.signin_form,  .signup_form {
    display: flex;
    justify-content: center;
    margin-top: 125px;
    min-width: 500px;
}

.signin_wrapper, .signup__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(22, 22, 22);
    padding: 44px;
    border-radius: 3%;

    width: 600px;
    height: 500px;
}

.signin_title, .signup__title {
    font-size: 34px;
    font-weight: 900;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}


.form_button {
    color: white;
    margin-top: 34px;
}


.signin__signup--wrapper {
    display: flex;
    justify-content: center;
    
    font-size: 14px;
    margin-top: 18px;
}

.signupnow__link {
    color: red;
    margin-left: 8px;
}

/* SEARCH */
.directory {
    padding: 20px;
}
    
.searchbar__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.searchbar__container {
    position: relative;
    gap: 8px;
}

.searchbar {
    border: solid black 2px;
    border-radius: 24px;
    padding: 18px;
    width: 400px;
    height: 38px;
}

.fa-magnifying-glass {
    scale: 1.4;
    color: black;
    position: absolute;
    right: 3%;
    top: 35%;
    cursor: pointer;
    transition: all .3s ease;
}

.fa-magnifying-glass:hover {
    scale: 1.3;
}

.search__type--wrapper {
    width: 100%;
    padding: 14px;

    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.search__type-button {
    color: white;
    width: 80px;
    height: 30px;
    border: 1px solid white;
    border-radius: 15px;
    margin-left: 8px;
    cursor: pointer;

    transition: all .5s ease
}

.search__type-button:hover, .active {
    background-color: white;
    color: black;

}

.nextPage_btn, .prevPage_btn {
    color: white;
    scale: 1.5;
}

/* SELECTED PAGE */
.selected__container {
    display: flex;
    justify-content: center;

    margin-top: 24px;
    padding: 32px;
    width: 100%;
    height: 550px;
}

.movie__poster {
    width: 100%;
    height: 100%;
    min-width: 220px;
}

.poster__wrapper {
    height: 100%;
    
}
.movie__details__wrapper {
    height: 100%;
    width: 40%;
    margin-left: 42px;
}

.movie__details__title {
    font-size: 38px;
}

.fa-star, .fa-star-half-stroke {
    color: gold;
}

.movie__stars {
    margin: 4px 0px 4px 0;
}

.movie__description__wrapper {
    margin: 12px 0 16px 0;
}

.skeleton__title {
    margin-bottom: 24px;
}

.skeleton__desc {
    margin-top: 42px;
    margin-bottom: 24px;
}

.addtocart__btn, .gotocart__btn, .checkoutButton {
    background-color: red;
    color: white;
}



:root {
    --font-roboto: "Roboto Slab", serif;
    --font-raleway: "Raleway", sans-serif;
  }
  
  
  .search__row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .search__title {
    text-align: center;
    font-weight: 100;
    font-size: 5rem;
    letter-spacing: 0.9px;
    margin-bottom: 42px;
    background: linear-gradient(
      180deg,
      rgb(230, 6, 6) 35%,
      rgba(249, 211, 180, 0) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
  }
  
  .search__search img {
    width: 35px;
    height: 35px;
    cursor: pointer;
  }
  
  .search__empty {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search__empty h2 {
    font-size: 1.25rem;
    color: #f9d3b4;
    font-family: var(--font-raleway);
  }
  
  .search__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search__cardsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .search__skeleton {
    margin: 1.5rem;
    position: relative;
    border-radius: 12px;
  }
  
  .search__movie {
    width: 250px;
    height: 400px;
    margin: 0.5rem;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    border: none;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  }
  
  .search__movie div:nth-of-type(1) {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
    top: 0;
    color: #b4c5f9;
  }
  
  .search__movie:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05, 1.05);
  }
  
  .search__movie div:nth-of-type(2) {
    width: 100%;
    height: 100%;
  }
  
  .search__movie div:nth-of-type(2) img {
    height: 100%;
    width: 100%;
  }
  
  .search__movie div:nth-of-type(3) {
    z-index: 2;
    opacity: 0;
    background-color: #0c0d0d;
    padding: 16px 24px 24px 24px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
  
  .search__movie div:nth-of-type(3) span {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #f0f0f0;
  }
  
  .search__movie div:nth-of-type(3) h3 {
    margin-top: 5px;
    font-family: "Roboto Slab", serif;
    color: #d3d3d3;
  }
  
  .search__movie:hover div:nth-of-type(2) {
    height: 100%;
    opacity: 0.3;
  }
  
  .search__movie:hover div:nth-of-type(3) {
    background-color: transparent;
    opacity: 1;
  }
  
  .search__movie:hover div:nth-of-type(1) {
    opacity: 1;
  }
  
  .search__data__error__wrapper {
    height: 50vh;
  }
  
  .search__data__error {
    font-size: 42px;
    padding: 64px;
  }
  
  .search__info__wrapper {
    width: 90%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .search__results__for {
    font-size: 24px;
  }
  
  .search__page__buttons__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px;
  }
  
  .search__page__number {
    font-size: 20px;
    margin: 0 4px 0 4px;
    white-space: nowrap;
  }

@media (max-width: 900px) {
    .movie__details__title {
        font-size: 28px;
    }
    .searchbar__wrapper {
        width: 100%;
    }
}
@media (max-width: 750px) {


    .movie__details__title {
        font-size: 24px;
    }
    .movie__description__wrapper {
        font-size: 14px;
    }
}

@media (max-width: 675px) {
    .search__type--wrapper {
        justify-content: center;
    }

    .footer__wrapper {
        flex-direction: column;
    }
    .footer_socials {
        margin: 28px 0 28px 0;
    }

    .home_title {
        font-size: 44px;
    }
    .selected__container {
       height: 450px;
    }
    .search__header--title {
        font-size: 36px;
      }
      .movie__description__wrapper {
        font-size: 12px;
    }
}

@media (max-width: 500px) {
    .home_title {
        font-size: 24px;
        letter-spacing: -1.5px;
    }
    .home_subtitle {
        font-size: 12px;
    }
    .home__explore--button {
    width: 100px;    
    font-size: 14px;
    padding: 1px;
    height: 40px;
    }
    .signup_form {
        min-width: 300px;
    }
    .home__movie--card {
        flex-basis: calc(40% - 24px);
    }
    .search__header--title {
        font-size: 28px;
    }
    .movie__description__wrapper {
        font-size: 10px;
    }
}


  
  @media screen and (max-width: 740px) {
    .search__results__for {
      margin-right: 20px;
    }
  }
  
  @media screen and (max-width: 650px) {
    .search__app {
      padding: 4rem 2rem;
    }
  
    .search__search {
      padding: 1rem 1.75rem;
      width: 100%;
    }
  
    .search__search input {
      font-size: 1rem;
    }
  
    .search__search img {
      width: 20px;
      height: 20px;
    }
  
    .search__results__for {
      font-size: 16px;
      margin-right: 24px;
    }
  }
  
  @media screen and (max-width: 450px) {
    .search__app {
      padding: 4rem 1rem;
    }
  
    .search__container {
      margin-top: 2rem;
    }
  
    .search__results__for {
      font-size: 12px;
    }
  
    .search__movie {
      width: 100%;
      margin: 1rem;
    }
  }
  